{% extends 'main.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/glider.css' %}">
<link rel="stylesheet" href="{% static 'css/single-event.css' %}">

<style>
    textarea {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px !important;
        padding: 0.8rem !important;
        font-size: 1.1rem !important;
    }
</style>
{% endblock head %}



{% block content %}
<div class="container">
    <div class="row flex-single-event-row">
        <section class="col-lg-3">
            <div id="event-small-info-container">

            <div class="s-event-sm-section">
                <h2 class="sm-ev-header">Start Time</h2>
                <div class="sm-time-container">
                    <p class="sm-date"><i class="fa-solid fa-calendar-check"></i> {{event.start_date_time.date}}</p>
                    <p class="sm-clock"><i class="fa-solid fa-clock"></i> {{event.start_date_time.time}}</p>
                </div>
            </div>

            <div class="s-event-sm-section">
                <h2 class="sm-ev-header">Finish Time</h2>
                <div class="sm-time-container">
                    <p class="sm-date"><i class="fa-solid fa-calendar-check"></i> {{event.end_date_time.date}}</p>
                    <p class="sm-clock"><i class="fa-solid fa-clock"></i> {{event.end_date_time.time}}</p>
                </div>
            </div>

            {% if event.reg_opt %}

            <div class="s-event-sm-section">
                <h2 class="sm-ev-header">Registration Deadline</h2>
                <div class="sm-time-container">
                    <p class="sm-date"><i class="fa-solid fa-calendar-check"></i> {{event.reg_dead_line.date}}</p>
                    <p class="sm-clock"><i class="fa-solid fa-clock"></i> {{event.reg_dead_line.time}}</p>
                </div>
                {% if event.is_reg_open %}
                <a style="background: var(--logo-main-color) !important;" class="sm-register-btn-a" href="#">Registration Open</a>
                {% else %}
                <a class="sm-register-btn-a">Registration Closed</a>
                {% endif %}
                <p class="sm-event-registered-num"><i class="fa-solid fa-registered"></i> 153 registered</p>
            </div>

            {% endif %}

            <div class="s-event-sm-section">
                <h2 class="sm-ev-header">Place</h2>
                <p class="sm-event-location"><i class="fa-solid fa-location-dot"></i> {{event.place}}</p>
            </div>

            </div>

            <div style="margin-top: 2rem;">
                <div class="organized-by">
                    <h4>Organized by</h4>
                    <p class="mod"><a href="{% url 'moderator' organizedmr.id %}">{{organizedmr.title}}</a></p>
                    <p><a href="{% url 'executive-committee' organizedec.id %}">{{organizedec.title}}</a></p>
                </div>
            </div>
            
        </section>

        <section style="padding: 0 !important; margin: 0 !important;" class="col-lg-8">
            <div class="breadcrumb-cs">
                <a href="{% url 'events' %}">Events</a> >> 
                <a href="{% url 'event-categories' eventcat.id %}">{{eventcat.title}}</a> >> 
                <a>{{event.title}}</a>
            </div>
            <div style="display: flex; flex-direction:column; gap:0;" id="event-details-info-container">
                <h1 class="s-event-name">{{event.title}}</h1>
                <div style="padding: 1rem !important;" id="s-event-content-div">
                    <img src="{{event.banner.url}}" alt="" class="s-event-main-img img-fluid">
                    <p>{{event.body|safe}}</p>
                </div>
            </div>
        </section>
    </div>
</div>



<div class="container">
    <div class="row comment-row">
        <div class="col-lg-8 ml-auto comment-column">
            <h2 class="feedback-header">Feedback</h2>
            {% if request.user.is_authenticated %}
            <form class="comment-form" action="{% url 'event' event.id %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <label for="form-label">{{field.label}}</label>
                    {{field}}
                {% endfor %}                 
                <input class="comments-btn" type="submit" value="Comment">
            </form>
            {% else %}
                <a href="{% url 'login' %}?next={{request.path}}">Please login to leave a review</a>
            {% endif %}

            {% for review in event.eventreview_set.all %}
            <div class="comment-show-container">
                <div class="ind-comment-wrap">
                    <a href="{% url 'user-profile' review.owner.id  %}">
                        <img src="{{review.owner.profile_image.url}}" alt="" class="cmt-prof-avator">
                     </a>    
                    <div class="cmt-info-wrap">
                        <a href="{% url 'user-profile' review.owner.id  %}">
                            <p class="cmt-prof-name">{{review.owner.name}}</p>
                        </a>
                        <p class="cmt">{{review.body|linebreaksbr}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
