body {
    background: linear-gradient(to right top, #cc00bb, #0050e6, #aa00cc) !important;
    position: relative;
    z-index: -1000;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: #ffffffd7;
    z-index: -1000;
}

p, h1 {
    margin: 0;
    padding: 0;
}

.grid-container {
    --auto-grid-min-size: 20rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem;
    background-color: white;
    border-radius: 10px;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.profile-blood {
    font-size: 1.3rem;
    color: var(--logo-secondary-color);
    font-family: 'Volte Bold';
    padding: 1rem;
    border: 2px solid var(--logo-secondary-color);
    border-radius: 20px;
}

.other {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-name {
    font-size: 1.2rem;
    font-family: 'Volte Medium';
    color: var(--logo-main-color);
}

.profile-location {
    color: var(--logo-secondary-color);
}

.request-btn {
    padding: 0.3rem 3rem;
    background-color: var(--logo-secondary-color);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Volte Semibold';
    border: none;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid var(--logo-secondary-color);
}

.request-btn:hover {
    background-color: white;
    color: var(--logo-secondary-color);
}