body {
  background-color: #f0f0f0;
}

.form-template {
    width: 100%;
    position: relative;
    top: 7rem;
    z-index: 1;
    background: transparent;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-template::after {
    z-index: -1;
    opacity: 0.1;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .form-card {
    position: relative;
    margin: 0.5rem !important;
    max-width: 500px !important;
    border-top: 6px solid var(--logo-main-color);
    border-radius: 15px !important;
    background: #ffffff !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
  }
  

.main-form {
  margin: 0 auto;
  padding: 2rem !important;
}


.input-grp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input-label {
  font-size: 1.2rem;
  font-family: "Volte Medium";
  color: var(--logo-main-color);
}

/* .form-input {
  height: 3rem !important;
  padding: 1rem;
  border-radius: 8px;
  border: 0.7px solid #929292;
} */

.cstm-btn {
  padding: 0.4rem 1.2rem !important;
  font-size: 1.2rem;
  font-family: "Volte Medium";
  background-color: #ec1e3e;
  border: 1px solid white;
  border-radius: 7px;
  color: #ffffff !important;
  text-align: center;
  transition: all 0.3s ease-in-out;
}


.cstm-btn:hover {
  background-color: white;
  color: #ec1e3e !important;
  border: 1px solid #ec1e3e !important;
}

.forgot-pass {
  color: #ec1e3e !important;
}

@media screen and (max-width: 650px) {
  .main-form {
    padding: 0.5rem 0 !important;
  }
}
