.custom-nav {
    /* background: var(--primary-theme-dark-color); */
    background: #064970 !important;

}

div.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

.last-nav-link {
    font-family: 'Volte Medium' !important;
    letter-spacing: 1.2px !important;
    font-size: 1.02rem !important;
    text-decoration: none !important;
    color: white !important;
}

.navbar-brand img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
}

.custom-toggler {
    border-color: white !important;
}

span.navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-info-container {
    max-width: 1366px;
}

.nav-item {
    margin: 0.1rem 0.4rem;
}

.nav-link {
    font-family: 'Volte Medium';
    letter-spacing: 1.1px;
    font-size: 1.02rem;
    padding: 0.4rem 0.8rem !important;
}

.cs-mnl {
    color: white !important;
}

.nav-link:hover {
    color: #ec1e3e !important;
}

.login-nav {
    padding: 0.4rem 1.2rem !important;
    background-color: #ec1e3e;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.login-nav:hover {
    background-color: white;
    color: #ec1e3e;
}


.mob-login-right-pos{
    position: absolute;
    top: 0.5rem;
    right: 0;
    font-size: 1rem;
    padding: 0.4rem 0.8rem !important;
    margin-right: 1rem !important;
}

.nav-first {
    padding-left: 0 !important;
}

@media screen and (max-width: 992px) {
    .navbar-brand img {
        width: 54px;
        height: 54px;
        top: 28px;
    }

    .nav-first {
        padding: 0.4rem 0.9rem !important;
    }
}

@media screen and (max-width: 400px) {
    .mob-login-right-pos{
        top: 0.67rem;
        font-size: 0.8rem;
        padding: 0.1rem 0.1rem;
        margin-right: 0.7rem !important;
    }
}