body {
    background: linear-gradient(to right top, #cc00bb, #0050e6, #aa00cc) !important;
    position: relative;
    z-index: -1000;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: #ffffffd7;
    z-index: -1000;
}

.cs-nl {
    color: var(--logo-main-color) !important;
}

.active {
    background: var(--logo-main-color) !important;
    color: white;
    border-color: var(--logo-main-color);
}

.nav-tabs .nav-item.show, .nav-tabs .nav-link.active {
    color: white !important;
    border-color: var(--logo-main-color) var(--logo-main-color) var(--logo-main-color);
}

.nav-tabs {
    border-bottom: none !important;
    color: white !important;
}

.nav-tabs:hover {
    border-color: var(--logo-main-color);
}

.tab-pane {
    background-color: transparent !important;
    color: black !important;
    /* margin: 1rem 0; */
}

div#nav-tabContent.tab-content {
    background: var(--logo-main-color) !important;
} 


/* time section start */

.wrap {
    width: 500px;
    margin: 0 auto;
    border-radius: 4px;
    /* background-color: #ffffff;
    box-shadow: 0 1px 2px 0 #c9ced1; */
    /* padding: 1.25rem; */
  }

  .wrap h1 {
      color: var(--logo-secondary-color);
      text-align: center;
  }
  
  .dating {
    font-weight: 500;
    display: flex;
    justify-content: space-around;
  }
  .dating--date, .dating--time {
    background: var(--logo-secondary-color);
    padding: 5px 10px;
    font-size: 1.5rem;
    font-family: 'Volte Semibold';
    border-radius: 3px;
    color: #fff;
  }

  .notice-timer {
    width: 100%;
    padding: 1rem 0.5rem;
    background: var(--logo-gradient-tr-color);
    border-radius: 10px;
  }

/* time section end */

.s-notice-con {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
    background-color: #05314b;
    box-shadow: #031b29 0px 3px 8px;
    border-radius: 10px;
    overflow: hidden;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.notice-time-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* gap: 0.1rem; */
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;

}
 
.n-day {
    font-size: 1.5rem;
    color: white;
    font-family: 'Volte bold';
}

.n-month {
    font-size: 1.2rem;
    color: #ffffff;
    padding: 0.05rem 0.8rem;
    font-family: 'Volte Semibold';
    background-color: var(--logo-secondary-color);
}

.s-notice-con a {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-family: 'Volte Medium';
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}

.s-notice-con a:hover {
    text-decoration: underline;
}