{% extends 'main.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
<link rel="stylesheet" href="{% static 'css/cmn-search-form.css' %}">
{% endblock head %}



{% block content %}

<!-- <div id="top-ab-color"></div> -->
    <section class="search-section">
        <div class="container">
            <div class="row m-auto">
                <form class="search-form" action="{% url 'blogs' %}" method="GET">
                    {% csrf_token %}

                        <input type="text" class="search-text" placeholder="Search by title & keyword" name="search_query" id=""  value="{{search_query}}">
                        <select class="search-select" name="all_blogs" id="">
                            <option class="select-value" value="">All Blogs</option>
                            {% for cat in blog_cats %}
                                {% if cat.title|stringformat:"s" == all_blogs %}
                                    <option class="select-value" value="{{cat.title}}" selected>{{ cat.title }}</option>
                                {% else %}
                                    <option class="select-value" value="{{ cat.title }}">{{cat.title}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input class="search-btn" type="submit" value="Search">
                </form>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="blog-container">
            {% for blog in blogs %}
                <div class="singel-blog">
                    <img class="img-fluid blog-img" src="{{blog.thumbnail.url}}" alt="">
                    <span class="b-cat">{{ blog.eblog_cats }}</span>
                    <h1 class="blog-header"><a href="{% url 'blog' blog.id %}">{{blog.title|slice:'0:80'}}..</a></h1>
                    <div class="blog-writer">
                        <span style="color:var(--logo-main-color);"><i class="fa-solid fa-user"></i> By: </span>
                        {% for author in blog.blog_authors.all %}
                        <a style="color: var(--logo-secondary-color);" href="{% url 'user-profile' author.author.id %}"> {{author}}; </a>
                        {% endfor %}
                    </div>
                    
                    <p style="font-size: 15px !important;" class="blog-body">{{blog.body|slice:'0:130'|safe}}...</p>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
<div class="container">
    {% include 'eblogs/pagination_blog.html' with queryset=blogs custom_range=custom_range %}
</div>
{% endblock content %}

{% block script %}


{% endblock script %}