{% if queryset.has_other_pages %}

<style>
    .container-flex {
        display: flex;
        gap: 0.6rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    ul {
        list-style: none;
    }
</style>

<div class="pagination">
    <ul class="container-flex">

        {% if queryset.has_previous %}
        <li><a href="?search_query={{search_query}}&all_blogs={{all_blogs}}&page={{queryset.previous_page_number}}" class="btn page-link"
                data-page="{{queryset.previous_page_number}}">&#10094; Prev</a></li>
        {% endif %}


        {% for page in custom_range %}

        {% if page == queryset.number%}
        <li><a href="?search_query={{search_query}}&all_blogs={{all_blogs}}&page={{page}}" class="btn btn-primary" data-page="{{page}}">{{page}}</a></li>
        {% else %}
        <li><a href="?search_query={{search_query}}&all_blogs={{all_blogs}}&page={{page}}" class="btn page-link" data-page="{{page}}">{{page}}</a></li>
        {% endif %}
        {% endfor %}

        {% if queryset.has_next %}
        <li><a href="?search_query={{search_query}}&all_blogs={{all_blogs}}&page={{queryset.next_page_number}}" class="btn page-link"
                data-page="{{queryset.next_page_number}}">Next &#10095;</a></li>
        {% endif %}



    </ul>
</div>
{% endif %}