{% extends 'main.html' %}
{% load static %}


{% block head %}

{% endblock head %}



{% block content %}

<div class="container">
    <div style="position: relative; top:7rem;" class="row">
        <form class="search-form" action="{% url 'blood-search' %}" method="GET">
            {% csrf_token %}

                <select name="search_query" id="">
                    <option value="">All group</option>
                    {% for g in type_pro %}
                        {% if search_query == g %}
                            <option value="{{g}}" selected>{{g}}</option>
                        {% else %}
                            <option value="{{g}}">{{g}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <select name="item" id="">
                    <option value="">All location</option>
                    {% for op in location_pro %}
                        {% if item == op %}
                            <option value="{{op}}" selected>{{op}}</option>
                        {% else %}
                            <option value="{{op}}">{{op}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Search">
        </form>

        <div>
            {% for profile in profiles %}
                <h1>{{profile.name}}</h1>
            {% endfor %}
            {% include 'user/pagination_search-me.html' with queryset=profiles custom_range=custom_range %}
        </div>

    </div>
</div>


{% endblock content %}



{% block script %}

{% endblock script %}