{% extends 'main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock head %}

{% block content %}
<!-- Main Section -->
<section class="form-template">
    <div class="container">
        <div style="margin: 0.3rem;" class="row justify-content-center">
            <div style="padding: 0; border:none; overflow:hidden;" class="col-lg-6 col-md-10 col-sm-11 m-auto form-card">
                <p style="color:white; text-align:center; padding: 0.5rem 0; background-color: #064970">Blood is requested from <b>{{ sender.name }}</b> to <b>{{ recipient.name }}</b></p>
                <form action="" class="main-form" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}  

                    {% for field in form %}
                    <div class="mb-3">
                        <label for="formInput#text" class="form-label form-input-label">{{field.label}}</label>
                        {{field}}

                        {% for error in field.errors %}
                        <p style="color: red;">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    
                    <input type="submit" style="color: white;" class="cstm-btn" value="Send message">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}