{% extends 'main.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/cmn-search-form.css' %}">
<link rel="stylesheet" href="{% static 'css/search-me.css' %}">
{% endblock head %}



{% block content %}

<section class="search-section">
    <div class="container">
        <div class="row m-auto">
            <form class="search-form" action="{% url 'search-me' %}" method="GET">
                {% csrf_token %}
    
                    <input type="text" name="search_query" class="search-text" placeholder="Search by job title, company & skills" name="search_query" id=""  value="{{search_query}}">
                    <select class="search-select" name="item" id="">
                        <option class="select-value" value="">Student/Alumni</option>
                        {% for op in type_pro %}
                            {% if item == op %}
                                <option class="select-value" value="{{op}}" selected>{{op}}</option>
                            {% else %}
                                <option class="select-value" value="{{op}}">{{op}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input class="search-btn" type="submit" value="Search">
            </form>
        </div>
    </div>
</section>

<div class="container" style="margin-top: 2rem;">
    <div class="row m-auto">
        <main class="grid-container">
        {% for profile in profiles %}
            <div class="profile">
                <div class="profile-info">
                    <img class="profile-img" src="{{ profile.profile_image.url }}" alt="{{profile.name}}">
                    <div class="other">
                        <h1 class="profile-name">{{ profile.name }}</h1>
                        <p class="profile-headline"><span class="fa-solid fa-job"></span> {{ profile.headline }}</p>
                    </div>
                </div>
                <div class="skills-container">
                    {% for skill in profile.skill_set.all %}
                        <span class="skill">{{ skill.name }}</span>
                    {% endfor %}
                </div>
                <div style="display: flex; justify-content:center;">
                    <a href="{% url 'user-profile' profile.id %}" class="request-btn"><span class="fa-solid fa-user"></span> View Profile</a>
                </div>
            </div>
        {% endfor %}
        </main>
    </div>
</div>

<div class="container" style="margin-top: 2rem;">
    {% include 'user/pagination_search-me.html' with queryset=profiles custom_range=custom_range %}
</div>


{% endblock content %}



{% block script %}

{% endblock script %}