{% extends 'main.html' %}v

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock head %}



{% block content %}
<section id="all-things" class="container">
    <section class="row flex-things">
        <div id="toggle-list-things-container" class="">
            <img src="{{ profile.profile_image.url }}" alt="" class="img-fluid profile-img">
            <p class="profile-type">Student</p>
            <h1 class="profile-name">Nafew Prodhan</h1>
            <p class="profile-headline">Web Developer | Graphic Designer</p>

            <p class="profile-institution">East West University</p>
            <p class="profile-department">Department of Economics</p>

            <p class="profile-blood-group"><i class="fa-solid fa-hand-holding-heart"></i> Blood Group: O+</p>
            <p class="profile-location"><i class="fa-solid fa-location-dot"></i> Rampura</p>


            <div class="profile-social-link">
                <a href="" class="social-link-ind"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="" class="social-link-ind"><i class="fa-brands fa-linkedin"></i></a>
            </div>

            <a href="#" id="cstm-btn"><i class="fa-solid fa-envelope"></i> Send email</a>
        </div>
    
        <div id="items-container" class="">
            <div class="vip-user-label-container">
                <div class="vip-stars">
                    <i class="fa-solid fa-star fa-1x"></i>
                    <i class="fa-solid fa-star fa-2x"></i>
                    <i class="fa-solid fa-star fa-1x"></i>
                </div>

                <div class="vip-members-details">
                    <p class="vip-member-type">Event Coordinator</p>
                    <p class="vip-member-club">East West University Economics Club</p>
                    <p class="vip-club-session">Session: 2021-2022</p>
                </div>

            </div>


            <div class="profile-desc-section first">
                <p class="profile-header">About me</p>
                <div class="sec-hr"></div>
                <p class="profile-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatum nihil facere consequatur earum odio eaque blanditiis? Expedita exercitationem obcaecati ipsam itaque hic magnam laborum rerum necessitatibus magni. Cum, debitis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia enim, eveniet nobis sequi maxime aliquam deleniti labore ipsum omnis delectus tempore eaque optio rerum amet eum doloremque natus quos porro!</p>
                <p class="profile-desc">aliquam deleniti labore ipsum omnis delectus tempore eaque optio rerum amet eum doloremque natus quos porro!</p>
            </div>

            <div class="profile-desc-section">
                <div class="profile-experience">
                    <p class="profile-header">Experience</p>
                    <div class="sec-hr"></div>
                    
                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">Event Coordinator</p>
                        <p class="profile-experience-company">East West University Economics Club</p>
                        <p class="profile-experience-date">Jul 21 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>

                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">Event Coordinator</p>
                        <p class="profile-experience-company">East West University Economics Club</p>
                        <p class="profile-experience-date">Jul 21 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>
                    
                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">Event Coordinator</p>
                        <p class="profile-experience-company">East West University Economics Club</p>
                        <p class="profile-experience-date">Jul 21 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>
                    
                </div>
            </div>

            <div class="profile-desc-section">
                <div class="profile-experience">
                    <p class="profile-header">Education</p>
                    <div class="sec-hr"></div>
                    
                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">East West University</p>
                        <p class="profile-experience-company">Bachelor of Social Science in Economics</p>
                        <p class="profile-education-cgpa"><b>CGPA: </b> 3.40</p>
                        <p class="profile-experience-date">Jan 2019 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>

                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">East West University</p>
                        <p class="profile-experience-company">Bachelor of Social Science in Economics</p>
                        <p class="profile-education-cgpa"><b>CGPA: </b> 3.40</p>
                        <p class="profile-experience-date">Jan 2019 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>

                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">East West University</p>
                        <p class="profile-experience-company">Bachelor of Social Science in Economics</p>
                        <p class="profile-education-cgpa"><b>CGPA: </b> 3.40</p>
                        <p class="profile-experience-date">Jan 2019 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>

                    <div class="profile-show-experience-container">
                        <p class="profile-experience-headline">East West University</p>
                        <p class="profile-experience-company">Bachelor of Social Science in Economics</p>
                        <p class="profile-education-cgpa"><b>CGPA: </b> 3.40</p>
                        <p class="profile-experience-date">Jan 2019 - Present</p>
                        <p class="profile-experience-location">Dhaka, Bangladesh</p>
                    </div>
                </div>
            </div>

            <div class="profile-desc-section">
                <p class="profile-header">Skills</p>
                <div class="sec-hr"></div>

                <div class="top-skills-container">
                    <p class="top-skills-header">Django</p>
                    <p class="top-skills-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quidem, hic minima quasi, repellat ipsam neque deleniti, esse voluptates autem explicabo ipsa minus nobis omnis fuga eveniet ipsum velit.</p>
                </div>
                <div class="top-skills-container">
                    <p class="top-skills-header">Django</p>
                    <p class="top-skills-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quidem, hic minima quasi, repellat ipsam neque deleniti, esse voluptates autem explicabo ipsa minus nobis omnis fuga eveniet ipsum velit.</p>
                </div>
                <div class="top-skills-container">
                    <p class="top-skills-header">Django</p>
                    <p class="top-skills-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quidem, hic minima quasi, repellat ipsam neque deleniti, esse voluptates autem explicabo ipsa minus nobis omnis fuga eveniet ipsum velit.</p>
                </div>
                <div class="top-skills-container">
                    <p class="top-skills-header">Django</p>
                    <p class="top-skills-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio quidem, hic minima quasi, repellat ipsam neque deleniti, esse voluptates autem explicabo ipsa minus nobis omnis fuga eveniet ipsum velit.</p>
                </div>
            </div>

            <div class="profile-desc-section">
                <p class="profile-header">Other Skills</p>
                <div class="sec-hr"></div>
                <div class="other-skills-container">
                    <p class="other-skill">React</p>
                    <p class="other-skill">React</p>
                    <p class="other-skill">React</p>
                    <p class="other-skill">React</p>
                    <p class="other-skill">React</p>
                    <p class="other-skill">React</p>
                    <p class="other-skill">React</p>

                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}



{% block script %}

{% endblock script %}