{% extends 'main.html' %}
{% load static %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/cmn-search-form.css' %}">
<link rel="stylesheet" href="{% static 'css/journals.css' %}">

{% endblock head %}



{% block content %}

<section class="search-section">
    <div class="container">
        <div class="row m-auto">
            <form class="search-form" action="{% url 'journals' %}" method="get">
                {% csrf_token %}
                <input type="text" name="search_query" class="search-text" placeholder="Search by title, abstract & keyword" id=""  value="{{search_query}}">
                <select class="search-select" name="all_journals" id="">
                    <option class="select-value" value="">All Journals</option>
                    {% for cat in journal_cat %}
                        {% if cat.category|stringformat:"s" == all_journals %}
                            <option class="select-value" value="{{cat.category}}" selected>{{ cat.category }}</option>
                        {% else %}
                            <option class="select-value" value="{{ cat.category }}">{{cat.category}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input class="search-btn" type="submit" value="Search">
            </form>
</section>


<div class="container">
    <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="blog-container">
        {% for journal in journals %}
            <div class="singel-blog">
                <span class="b-cat">{{ journal.all_journals }}</span>
                <h1 class="blog-header"><a href="{% url 'journal' journal.id %}">{{journal.title}}</a></h1>
                <div class="blog-writer">
                    <span style="color:var(--logo-main-color);"><i class="fa-solid fa-user"></i> By: </span>
                    {% for author in journal.authors.all %}
                    <a style="color: var(--logo-secondary-color);" href="{% url 'user-profile' author.author.id %}"> {{author}}; </a>
                    {% endfor %}
                </div>
                
                <p class="blog-body"><span style="color:var(--logo-secondary-color);font-weight:bold;">Abstract: </span>{{journal.abstract|slice:'0:100'}}...</p>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
    
<div class="container">
    <div class="row">
        {% include 'pagination_adv.html' with queryset=journals custom_range=custom_range %}
    </div>
</div>


{% endblock content %}



{% block script %}

{% endblock script %}