{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 m-auto">
                <div style="position:relative; top: 7rem;" class="formWrapper">
                    <h3>Password reset sent</h3>
        
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                        entered. You should receive them shortly.</p>
                    <br>
                    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                        your spam folder.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</main>

{% endblock content %}